<head> 
    <link rel="icon" type=image/jpeg href="https://i.pinimg.com/736x/50/a4/3c/50a43c860ec794f21e750656585b9500.jpg">
    <title> Color🎨</title>
    <style>
        #värii {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        }
    </style>
    
</head>



<body bgcolor="{{väri}}">
    <h3> <p style="font-family:verdana"> The color you chose: </h3> </p>
    
    <div id="värii" ><h3> <p style="font-family:verdana"> {{väri}} </h3> </p></div>
</body>
